body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 50px; 
}

.header img {
    width: 500px; 
    height: auto; 
}

        
        .logo {
            width: 200px; 
            height: auto;
        }

        .right-aligned {
            width: 200px;
            height: auto;
            float: right;
        }